body {
  margin: 0 ;
  padding: 0;
  background: url("../navbarbackground.png");

}

.mainbox {
  width: 100%;
  height: calc(100% - 200px);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #BDAD8B;
}

.leftbox {
  height: 80%;
  width: 60%;
  background: url("../tanscreen.png");
  float: left;
  margin-right: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.leftbox > form{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.leftbox > form > input {
  text-align: center;
}

.leftbox > form > textarea {
  text-align: center;
  resize: none;
}

.sidebox {
  float: left;
  width: 5%;
  height: 80%;
  background: url("../tanscreen.png");
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sidebox > input {
  width: 50%;
  /* padding: 20% 0 20% 0; */
}

#video {
  padding: 20% 0 100% 0;
}

#camera {
  padding: 20% 0 100% 0;
}

#bubble {
  padding: 20% 0 20% 0;
}


.footer {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}


.footer_container {
  width: 550px;
  height: 100%;
}

.save {
  float: left;
  margin-left: 50px;
}

.cancel {
  float: left;
}

.btn-group {
  right: 150px;

}
form {
  margin: 0;
  padding: 0;
}

#title {
    width: 60%;
    height: 50px;
    font-family: 'Pacifico', cursive;
    font-size: 30px;
    background: transparent;

}
#date {
  height: 30px;
  width: 30%;
  font-size: 16px;
  font-family: 'Rancho', cursive;
  background: transparent;
}
#description {
  height: 150px;
  width: 60%;
  font-size: 17px;
  font-family: 'Pangolin', cursive;
  word-wrap: break-word;
  background: transparent;
}
