body{
	margin: 0px;
	display: grid;
	grid-template-areas:
		"side tabs"
		"side pges";
	grid-template-columns: 25% 75%;
	grid-template-rows: 15% 85%;
	align-items: stretch;
	justify-items: stretch;
}


/* SIDEBAR */
#sidebar {
	grid-area: side;
	display: grid;
	grid-template-areas:
		"text"
		"tabz"
		"buff";
	grid-template-rows: 1fr 2fr 3fr;
}

#welcome-text {
	grid-area: text;
	align-self: center;
	justify-self: center;

}

#tabs-wrapper {
	grid-area: tabz;
 	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

.reg-tab {
	height: 35px;
	margin-left: 15px;
	margin-right: 5px;
	border-radius: 25px 75px 75px 25px;
	border: none;
	background-color: #dbe7fd;
}

.tab:hover {
	cursor: pointer;
}

.large-tab {
	z-index: 1;
	height: 35px;
	margin-left: 15px;
	margin-right: -15px;
	border-radius: 25px 75px 75px 25px;
	border: none;
	background-color: #dbe7fd;
}

#buffer {
	grid-area: buff;
}


/* SUBTABS */
#topbar {
	background-color: lightpink;
	grid-area: tabs;
	display: grid;
	grid-template-areas: "subtab logout";
	grid-template-columns: 3fr 1fr;
}

#subtab-wrapper {
	grid-area: subtab;
	align-self: end;
	display: flex;
}

.subtab {
	height: 30px;
	margin-left: 5px;
	border-radius: 15px 15px 0px 0px;
	border: none;
	background-color: #dbe7fd;
}

#logout {
	grid-area: logout;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	top: 30px;
	height: 35px;
	width: 60px;
	border-radius: 10px;
	border: none;
	background-color: #dbe7fd;
}




/* MAINPAGE CAROUSEL */
#mainpage-carousel {
	background-color: lightgreen;
	grid-area: pges;
	position: relative;
/* 	z-index: 3; */
	height: 100%;
	width: 100%;
	overflow: hidden;
}

#carousel-wrapper {
	position: absolute;
	left: 0;
	display: flex;
}

.page {
	position: relative;
	height: 100%;
	width: 100%;
}
