.navbar {
  width: 100%;
  height: 100px;

  background-repeat: round;
  border-bottom: 1px solid #000000;
  background-color: #BAAC91
  /* background: url("navbarbackground.png"); */
}

.navbar_logo {
  height: 100%;
  width: 30%;
  float: left;

}

.navbar_logo > input {
  height: 100%;
  width: 125px;
}

.navbar_buttons a{
  /* height: 120%; */
  /* width: 70%; */
  margin-top: 20px;
  margin-right: 10px;
  float: right;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

.navbar_buttons > input {
  height: 60%;
  float: left;
  padding: 0 10px 0 10px;
  margin-top: 20px
}
