.container {
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.h1 {
  font-size: 70px;
  font-family: 'Indie Flower', cursive;
}
.h2 {
  font-size: 30px;
  font-family: 'Indie Flower', cursive;
  padding-bottom: 1cm;
}

.button {
  border-radius: 25px;
  padding: 15px;
  background-color: transparent;
  border-color: black;
  color: black;
  font-family: 'Indie Flower', cursive;
  font-size: 30px;
}

.groupoffield {
  padding-bottom: 1cm;
}

.textfield {
  border-radius: 15px;
  padding: 5px;
  background-color: #3CBCB4;
  border-color: black;
  color: black;
  font-family: 'Indie Flower', cursive;
  font-size: 20px;
}

.createjoin {
  border-radius: 25px;
  background-color: transparent;
  border-color: transparent;
  color: black;
  font-family: 'Indie Flower', cursive;
  font-size: 25px;
}

.joinfield {
  border-radius: 25px;
  background-color: transparent;
  border-color: black;
  color: black;
  font-family: 'Indie Flower', cursive;
  font-size: 17px;
}
